@media (max-width: 1230px) {
  .nav-list {
    display: none;
  }
  .nav-button {
    display: block;
  }

  .nav.open .nav-list {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--wgite-color);

    padding: 46px 30px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;

    font-size: 34px;
    font-weight: 600;
  }

  .nav-link {
    color: var(--hover-txt);
  }

  .nav-link:hover {
    color: var(--hover-txt);
  }

  .nav-link:active {
    color: #000;
  }

  .nav-button {
    position: fixed;
    z-index: 9;
    top: 46px;
    right: 30px;
  }

  .haeder-nav {
    padding-bottom: 50px;
  }

  .header-row {
    flex-direction: column;
    row-gap: 30px;
  }

  .haeder-content {
    padding-top: 0;
  }

  /* .header-img {
    text-align: center;
  } */
}

@media (max-width: 700px) {
  .header-title {
    font-size: 34px;
  }
  .header-title span {
    font-size: 28px;
  }

  .services {
    padding: 60px 0;
  }

  .portfolio {
    padding: 60px 0;
  }

  .portfolio-title {
    margin-bottom: 50px;
  }

  .project-img {
    margin-bottom: 30px;
  }

  .project:not(:last-child) {
    margin-bottom: 55px;
  }

  .contacts {
    padding: 60px 0;
  }

  .contacts-title {
    margin-bottom: 20px;
  }

  .contacts-content {
    margin-bottom: 20px;
  }

  .contacts-btn {
    margin-bottom: 70px;
  }

  .contacts-social {
    column-gap: 50px;
  }
}
